.movie-list-item-img {
  transition: all 0.9s ease-in-out;
  cursor: pointer;
}
.movie-list-item-img:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
  .movie-list-item-img :hover {
    transform: none;
  }
  .movie-list-item-img {
    transition: none;
  }

  /* … */
}
